 :root {
     --blue: #00c8ff;
     --bg: #0a0a0a;
     --white: #ffffff;
     --black: #000000;
     --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
 }

 body {
     font-size: 1.2rem;
     font-family: 'Montserrat', sans-serif;
     min-height: 4000px;
 }

 .hero::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: url(img/seaworld2.jpg);
     background-attachment: fixed;
     background-position: center center;
     background-size: cover;
     z-index: -1;
     filter: grayscale();
 }

 .hero {
     position: relative;
     min-height: 100vh;
     max-width: 100vh;
 }

 .hero h1,
 .hero h4,
 .hero p {
     text-shadow: var(--shadow);
     font-size: 1rem;
 }

 .hero h1 {
     font-family: 'Cookie', cursive;
     font-size: 4.5rem;
 }

 .hero p {
     font-size: 1.2rem;
 }

 .hero a {
     color: var(--black);
     background-color: white;
     box-shadow: var(--shadow);
     background-clip: padding-box;
 }

 .hero a:hover {
     color: white;
 }

 .mynavbar {
     background-color: rgba(255, 255, 255, 0.4) !important;
     backdrop-filter: blur(5px);
 }

 .mynavbar .offcanvas {
     height: 100vh;
     width: 20vh;
 }

 .mynavbar .navbar-brand,
 .mynavbar .offcanvas-title {
     font-family: 'Cookie', cursive;
     font-size: 2rem;
     font-weight: bold;
 }

 .mynavbar .nav-link {
     /* font-weight: 600; */
     text-transform: uppercase;
 }

 .home {
     background-image: url(img/flower.png);
     background-size: cover;
     min-height: 150vh;
     margin-top: -2rem;
     padding-top: 10rem;
     padding-bottom: 5rem;
 }

 .home h2,
 .info h2,
 .story h2,
 .gallery h2 {
     color: var(--blue);
     font-family: 'Cookie', cursive;
     font-size: 4.5rem;
 }

 .home h3 {
     color: var(--black);
     font-size: 1.5rem;
     margin-bottom: 1rem;
 }

 .home p {
     font-size: 1.1rem;
     color: var(--black);
 }

 .home .couple {
     margin-top: 100px;
 }

 .home .couple h3 {
     font-family: 'Cookie', cursive;
     font-size: 2.4rem;
     color: var(--blue);
 }

 .home .couple img {
     width: 100%;
 }

 .home .heart {
     width: 50px;
     height: 50px;
     background-color: white;
     display: flex;
     border-radius: 50%;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
     position: absolute;
     left: 50%;
     transform: translateX(-50%) translateY(65px);
 }

 .home .heart i {
     margin: auto;
     color: var(--blue);
 }

 .info {
     background-color: var(--bg);
     color: white;
     padding-top: 10rem;
     padding-bottom: 8rem;
 }

 .info .alamat {
     font-size: 1.1rem;
 }

 .info .description {
     font-size: 1rem;
     font-weight: 300;
 }

 .info .card {
     background-color: rgba(255, 255, 255, 0.2) !important;
     color: white !important;
     border: 1px white solid;
 }

 .info .card-header {
     border-bottom: 1px white solid;
     text-transform: uppercase;
     letter-spacing: 0.1rem;
 }

 .info .card-body {
     font-size: 1rem;
 }

 .info .card-footer {
     border-top: 1px white solid;
     font-size: 0.9rem;
     font-weight: 300;
 }

 .story,
 .gallery {
     padding-top: 10rem;
     padding-bottom: 8rem;
 }

 .story span,
 .gallery span {
     text-transform: uppercase;
     color: #666;
     font-size: 0.9rem;
     letter-spacing: 1px;
     display: block;
     margin-bottom: 1rem;
 }

 .story p,
 .gallery p {
     font-size: 1rem;
     font-weight: 300;
 }

 .timeline {
     list-style: none;
     padding: 1.4rem 0;
     margin-top: 1rem;
     position: relative;
 }

 .timeline::before {
     content: '';
     top: 0;
     bottom: 0;
     position: absolute;
     width: 1px;
     background-color: #ccc;
     left: 50%;
 }

 .timeline li {
     margin-bottom: 1.5rem;
     position: relative;
 }

 .timeline li::before,
 .timeline li::after {
     content: '';
     display: table;
 }

 .timeline li::after {
     clear: both;
 }

 .timeline li .timeline-image {
     width: 160px;
     height: 160px;
     background-color: #ccc;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     border-radius: 50%;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 .timeline li .timeline-panel {
     width: 40%;
     float: left;
     border: 1px solid #ccc;
     padding: 2rem;
     position: relative;
     border-radius: 10px;
 }

 .timeline li .timeline-panel::before {
     content: '';
     display: inline-block;
     position: absolute;
     border-top: 15px solid transparent;
     border-left: 15px solid #ccc;
     border-right: 0 solid #ccc;
     border-bottom: 15px solid transparent;
     top: 80px;
     right: -15px;
 }

 .timeline li .timeline-panel::after {
     content: '';
     position: absolute;
     display: inline-block;
     border-top: 14px solid transparent;
     border-left: 14px solid #fff;
     border-right: 0 solid #fff;
     border-bottom: 13px solid transparent;
     top: 83px;
     right: -13px;
 }

 .timeline li.timeline-inverted .timeline-panel {
     float: right;
 }

 .timeline li.timeline-inverted .timeline-panel::before {
     border-left-width: 0;
     border-right-width: 15px;
     left: -15px;
     right: auto;
 }

 .timeline li.timeline-inverted .timeline-panel::after {
     border-left-width: 0;
     border-right-width: 14px;
     left: -13px;
     right: auto;
 }

 .gallery {
     background-color: #e0f0ff;
 }

 .map iframe {
    border-radius: 8px;
    border-style: groove ;
    border-width: 10px ;
 }

 /* Media Query */
 /* Extra Large */
 @media (max-width: 1200px) {
     .home .heart {
         transform: translateX(-50%) translateY(45px);
     }
 }

 /* Laptop */
 @media (max-width: 992px) {
     html {
         font-size: 80%;
     }

     .hero a {
         padding: 1%;
     }

     .simply-countdown>.simply-section {
         padding: 60px;
         margin: 30px;
     }

     .simply-countdown>.simply-section .simply-amount {
         font-family: 'Arial', sans-serif;
         font-size: 1.5rem;
         line-height: 2rem;
     }

     .home .heart {
         display: none;
     }

     .timeline::before {
         left: 60px;
     }

     .timeline li .timeline-image {
         left: 15px;
         margin-left: 45px;
         top: 16px;
     }

     .timeline li .timeline-panel {
         width: calc(100% - 200px);
         float: right;
     }

     .timeline li .timeline-panel::before {
         border-left-width: 0;
         border-right-width: 15px;
         left: -15px;
         right: auto;
     }

     .timeline li .timeline-panel::after {
         border-left-width: 0;
         border-right-width: 14px;
         left: -13px;
         right: auto;
     }
 }

 /* Tablet*/
 @media (max-width: 768px) {
     html {
         font-size: 60%;
     }

     .hero a {
         padding: 1%;
     }

     .simply-countdown>.simply-section {
         padding: 45px;
         margin: 15px;
     }

     .simply-countdown>.simply-section .simply-amount {
         font-family: 'Arial', sans-serif;
         font-size: 1.5rem;
         line-height: 2rem;
     }

     .home .heart {
         display: none;
     }

     .sticky-top {
         overflow: hidden;
     }

     .timeline li .timeline-image {
         width: 120px;
         height: 120px;
     }
 }

 /* Mobile Phone */
 @media (max-width: 576px) {
     html {
         font-size: 60%;
     }

     .hero a {
         padding: 1%;
     }

     .simply-countdown>.simply-section {
         padding: 30px;
         margin: 15px;
     }

     .simply-countdown>.simply-section .simply-amount {
         font-family: 'Arial', sans-serif;
         font-size: 1.5rem;
         line-height: 2rem;
     }

     .mynavbar .nav-link {
         text-align: center;
     }

     .home .heart {
         display: none;
     }

     .timeline li .timeline-image {
         width: 80px;
         height: 80px;
     }

     .timeline li .timeline-panel {
         width: 70%;
         transform: translateX(-20px);
     }

     .timeline li .timeline-panel::before {
         top: 30px;
     }

     .timeline li .timeline-panel::after {
         top: 30px;
     }
 }